body{
    font-family: Berlin Sans FB;
    Background-color: #D4E6EB;
}
nav{
    background-color: #697072;
    width: 120px;
    height: 580px;
    float: left;
}


ul{
 margin-left: -33px;
}
ul li{
    list-style: none;
    height: 44px;
    padding:  5px;

}

ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

    text-align: right;
}

footer{
    color:white;
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    background-color: #697072;
    clear: both;
    padding: 2px;
    text-align: center;
    width: 754px;
}

div{
    text-align: center;
    font-weight: bold;
}

table{
    margin-left: 120px;

}

main{
    margin-left:120px;
}
